/*  -----------------------------------------        */
/*  Übergreifend / Body                              */
/*  -----------------------------------------        */
html, body {
 background-image:url(/top-view-cooked-buckwheat-porridge-260nw-2681211251.webp); 
 background-repeat:no-repeat; 
 background-size: cover;      
 overflow:hidden;
 z-index:-5;         
}
 
#kopfbereich {
 
  position:fixed;           
  top:0;                     
  left:0;                   
  border: 1px solid #000000d3;    
  background-color: rgb(0, 102, 255);    
  width:100%;                
  height:100px;              
  z-index:2;                                
}
 #logobereich {
  position:fixed;               
  top:0;                            
  left:0;                            
  border: 0px solid #ccc; 
  background-image:url("Präsentationlk+.png");
  background-repeat:no-repeat;
  background-size: cover;    
  background-color:rgba(45, 146, 247, 0);    
  width:200px;                 
  height:100px;                
  z-index:3;                                      
}
 
#navibereich {
  position:fixed;            
  top: 100px;                
  left:0;                    
  border: 1px solid #000000;    
  background-color:rgb(190, 19, 19);       
  width:150px;               
  min-height:300px;          
  z-index:2;                 
}
 
#textbereich {
 
  position:fixed;           
  left:0;                    
  right:0;                   
  top:100px;                 
  padding-left:210px;        
  padding-right:210px;       
  padding-top:20px;         
  padding-bottom:60px;       
  border: 1px solid #ccc;    
  height:100%;               
  overflow-y: auto;         
  background-color:rgba(255,255,255,0.5); 
}
 
#newsbereich {
  position:fixed;            
  right:0px;                 
  top: 100px;                
  border: 1px solid #000000;    
  background-color:rgb(190, 19, 19);
  width:200px;               
  min-height:300px;          
  z-index:2;                
}
 
#fussbereich {
 
 position:fixed;              
 bottom:0;                    
 left:0;                      
 border: 1px solid #ccc;      
 width: 100%;                
 background-color:rgb(190, 19, 19);     
 height:50px;                 
 z-index:2;                  
}
 
/*  Höhe des Contentbereichs festlegen (wichtig!)    */                    
.content-block {
  padding-bottom: 1000px;
}
 
/*  ----------------------------------------- */
/*  Schriftformatierung                       */
/*  ----------------------------------------- */
p {
font-family: 'Montserrat', sans-serif; 
font-style:normal;                      
font-size:11pt;                         
font-weight:400;                       
color:#000000;                          
}

.title {
font-size:12pt;                                                    
font-weight:bold;
position: absolute;
top: 10px;
left: 50%;
transform: translateX(-50%);
text-align: center;
}
 
 #logobereich {
  position:fixed;               
  top:0;                            
  left:0;                           
  border: 0px solid #ccc; 
  background-image:url("Präsentationlk+.png");
  background-repeat:no-repeat;
  background-size: cover;    
  background-color:rgba(16,78,139,0);    
  width:200px;                 
  height:100px;                
  z-index:3;                      
 
/*  ----------------------------------------------------------- */
/*  Bildformatierung für Bilder im Textbereich      */
/*  ----------------------------------------------------------- */
.text-image-left {
width:100px; 
margin:5px;  
float:left;        
}
.text-image-right {
width:200px; 
margin:0px;  
float:right;    
}
 
.header-title {
font-family:‘Montserrat’, sans-serif;   
font-size:24pt;       
font-weight:700;     
text-align:center;      
}
/*  -----------------------------------------        */
/*  Menüformatierung                                 */
/*  -----------------------------------------        */
 
/*  Linkformatierung für das Menü übergreifend       */
.naviformat a, button {
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase; 
font-size:90%;              
  font-weight:700;          
  color: rgb(0,0,0);    
  display: block;    
  transition: all 0.3s ease-out 0s; 
  text-decoration:none;   
    line-height: 20px;    
    padding: 5px 5px;     
/*  Formatierung des Hauptmenüs (mainnav)                  */
.mainnav {
  text-align:right;         
  list-style-type: none;     
  margin: 20px 5px;          
       padding: 5px 5px;         
 
.mainnav > li {
  float:none;
}      
/*  Formatierung des aktiven Hauptmenüpunkts */
.mainnav > li > a.active {
  font-weight:700;    
  text-shadow: 1px 1px black, 2px 2px grey, 3px 3px   #696969; 
    color: rgba(90,195,208,1); 
}
/*  Formatierung des Menüpunkts, wenn die Maus darüber fährt */
.mainnav > li > a:hover {
  font-weight:700;    
  font-style:italic; 
  text-shadow: 1px 1px white, 2px 2px white, 3px 3px white; 
    background-color:rgba(255,255,255,0.7);  
}}}}